
<h1 class="text-center">Créer un nouveau trip</h1>

<div class="container">

  <%= simple_form_for @trip do |f| %>
    <div class="form-inputs">
      <%= f.input :name,
                  required: false,
                  autofocus: true %>
      <%= f.input :city,
                  required: false %>
      <%= f.input :description,
                  required: false %>
      <%= f.input :photo,
                  required: false %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, "Submit the trip", class: "btn btn-flat-violet"%>
      <%= link_to 'Back', trips_path, class: "btn btn-flat-green" %>
    </div>
  <% end %>
</div>
