<h1 class="text-center">Créer un nouveau trip</h1>

<div class="container">

  <%= simple_form_for @trip do |f| %>
    <div class="form-inputs">
      <%= f.input :name,
                  required: false,
                  autofocus: true %>
      <%= f.input :city,
                  required: false %>

      <%= f.input :description,
                  required: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Submit the trip"  %>
      <%= link_to 'Back', trips_path %>
    </div>
  <% end %>
</div>
