<div class="banner" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path @trip.photo %>')">
</div>

<!-- <#%= cl_image_tag @trip.user.image, class: "avatar-large avatar-banner"%> -->
<img src="https://res.cloudinary.com/spark-and-rise-ltd/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1566307014/photo-1531210483974-4f8c1f33fd35_xcfetf.jpg" alt="" class="avatar-large avatar-banner">

<div class="banner-content">
  <div class="col-12 col-md-6 col-lg-3">

    <h1><%= @trip.name %></h1>

    <h2><%= @booking.start_date %><%= @booking.end_date %></h2>
    <h2><%= @trip.description %></h2>
    <p><%= @trip.photo %></p>
    <p>Trip description</p>

    <p>blabla</p>

    <p>TimeTable</p>

    <%= link_to "Back to all trips", root_path %>
  </div>
  <div class="col-6 offset-6">
    <%= simple_form_for [@trip, @booking] do |f| %>
      <div class="form-inputs">
          <%= f.input :start_date,
                  required: false,
                  autofocus: true %>
          <%= f.input :end_date,
                  required: false %>
      </div>
      <div class="form-actions">
          <%= f.button :submit, "Treep !", class: "btn btn-flat-green"  %>
        </div>
      <% end %>
    </div>
  </div>
