
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1531210483974-4f8c1f33fd35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80');">
</div>
<div class="avatar" >


</div>

<div class="banner-content">
  <div class="col-12 col-md-6 col-lg-3">

    <h1><%= @trip.name %></h1>

    <h2><%= @booking.start_date %><%= @booking.end_date %></h2>
    <h2><%= @trip.description %></h2>
    <p>Trip description</p>

    <p>blabla</p>

    <p>TimeTable</p>

    <%= link_to "Back to all trips", root_path %>
  </div>
  <div class="col-6 offset-6">
    <%= simple_form_for [@trip, @booking] do |f| %>
      <div class="form-inputs">
          <%= f.input :start_date,
                  required: false,
                  autofocus: true %>
          <%= f.input :end_date,
                  required: false %>
      </div>
      <div class="form-actions">
          <%= f.button :submit, "Treep !", class: "btn btn-flat-green"  %>
        </div>
      <% end %>
    </div>
  </div>
