
<div class="banner" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path @trip.photo, crop: :fill %>')">
</div>
​
<!-- <#%= cl_image_tag @trip.user.image, class: "avatar-large avatar-banner"%> -->
<img src="https://res.cloudinary.com/spark-and-rise-ltd/image/upload/v1566307014/photo-1531210483974-4f8c1f33fd35_xcfetf.jpg" alt="" class="avatar-banner">
​
<div class="banner-content d-flex">
  <div class="col-8">
​
    <h1 class="border align-middle text-center"><%= @trip.name %></h1>
​
    <h2 class="text-center"><%= @trip.description %></h2>
​
    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la </p>
​
    <%= link_to "Back to all trips", root_path, class: "btn btn-flat-violet w-40" %>
  </div>
  <div class="col-4">
    <h1 id="book"> Réservez ce treep !</h1>
    <%= simple_form_for [@trip, @booking] do |f| %>
      <div class="form-inputs text-center">
          <%= f.input :start_date, as: :string,
                  required: false,
                  autofocus: true, input_html: {class: "datepicker"} %>
          <%= f.input :end_date, as: :string,
                  required: false, input_html: {class: "datepicker"} %>
      </div>
      <div class="form-actions">
          <%= f.button :submit, "Treep !", class: "btn btn-flat-green w-100"  %>
        </div>
      <% end %>
    </div>
  </div>
