
  <div class="mt-3 row justify-content-center">
    <div class="col-4">
      <h1 class="mb-3 text-center">Modifier votre réservation: <%= @booking.trip.name %></h1>
      <%= simple_form_for [ @trip, @booking] do |f| %>
        <h3 class="text-center"><%= f.input :start_date, placeholder: "Date de début" %></h3>
        <h3 class="text-center"><%= f.input :end_date, placeholder: "Date de fin" %></h3>
         <div class="form-actions text-center mb-5">
        <%= f.submit "Modifier", class: "btn btn-flat-violet w-100" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
