
<div class="container">
<ul class="list-inline tabs-underlined" id ="boutons">
  <li>
    <a id="mybookings_btn" href="#" class="tab-underlined active"> My Bookings</a>
  </li>
  <li>
    <a id="myrequests_btn" href="#" class="tab-underlined">My Requests</a>
  </li>
</ul>

<div id="mybookings">
 <h1>Here are all your bookings</h1>
  <div class="">
    <% current_user.bookings.each do |booking| %>
      <div class="card-text d-flex bd-highlight mb-3">
        <div class="p-2 bd-highlight">
          <%= cl_image_tag booking.trip.photo, alt: "Image trip" %>
        </div>
        <div class="card-text-infos p-2 bd-highlight">
          <div>
            <h2><%= link_to booking.trip.name, trip_booking_path(booking.trip, booking) %></h2>
            <p>Commence le <%= booking.start_date.strftime("%A %d %B") %> et termine le <%= booking.end_date.strftime("%A %d %B") %></p>
            <p><%= booking.trip.city %></p>
          </div>
        </div>
        <div class="ml-auto p-2 bd-highlight">
          <div class="d-flex flex-column mt-2">
            <div class="mb-2"><%= link_to "Modifier", edit_trip_booking_path(booking.trip_id, booking), class: "btn btn-flat-violet"%></div>
            <div><%= link_to "Annuler", trip_booking_path(booking.trip_id, booking), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-flat-green"%></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div id="myrequests" class="d-none">
  <h1>Here are the booking requests on my trips</h1>
      <% @myaskings.each do |myasking| %>
        <div class="card-text d-flex bd-highlight mb-3">
          <div class="p-2 bd-highlight">
            <%= cl_image_tag myasking.user.photo, alt: "Image trip" %>
          </div>
          <div class="card-text-infos p-2 bd-highlight">
            <div>
              <h2><%= myasking.user.first_name.nil? == true ? myasking.user.email : "#{myasking.user.first_name} : #{myasking.user.email}" %></h2>
              <p>Souhaite réserver le trip <%= myasking.trip.name %></p>
              <p>du <%= myasking.start_date.strftime("%A %d %B") %> au <%= myasking.end_date.strftime("%A %d %B") %></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
</div>

