<div class="container">
 <h1>Here are all your bookings</h1>
  <div class="">
    <% current_user.bookings.each do |booking| %>
    <div class="card-text">
      <%= cl_image_tag booking.trip.photo, alt: "Image trip" %>
      <div class="card-text-infos">
      <div>
        <h2><%= link_to booking.trip.name, trip_path(booking) %></h2>
        <p>Commence le <%= booking.start_date.strftime("%A %d %B") %> et termine le <%= booking.end_date.strftime("%A %d %B") %></p>
        <p><%= booking.trip.city %></p>
      </div>
    </div>
    </div>
    <% end %>
  </div>
</div>
