
<div class="banner" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path @trip.photo, crop: :fill %>')">
  <!-- <img src="https://res.cloudinary.com/spark-and-rise-ltd/image/upload/v1566307014/photo-1531210483974-4f8c1f33fd35_xcfetf.jpg" alt="" class="avatar-banner card-trip-user"> -->
    <% guide_id = @trip.user_id %>
    <% guide = User.find(guide_id) %>
    <%= image_tag guide.photo, class: "avatar-banner card-trip-user" %>
</div>
<h1 class="text-center" style="margin-top: 30px;"><%= @user.first_name %>, voici le détail de votre réservation</h1>
<div class="container col-6 offset-3" style="margin-top:40px;">
  <div class="banner-content text-center">
         <p class="light-green text-center">Commence le <strong><%= @booking.start_date.strftime("%A %d %B") %></strong> et termine le <strong><%= @booking.end_date.strftime("%A %d %B") %></strong></p>
     <p><%= @trip.name %> à <%= @trip.city %></p>
     <p>Avec  <%=  guide.first_name %> <%=  guide.last_name %> </p>
       <div class="d-flex justify-content-around">
          <div class="col-6">
            <%= link_to "Modifier votre réservation", edit_trip_booking_path(@booking), class: "btn btn-flat-violet w-100"%>
          </div>
          <div class="col-6">
            <%= link_to "Annuler votre réservation", trip_booking_path(@booking.trip_id, @booking), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-flat-green w-100"%>
          </div>
       </div>
  </div>
</div>

