<div class="banner" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path @trip.photo, crop: :fill %>')">
</div>
​
<!-- <#%= cl_image_tag @trip.user.image, class: "avatar-large avatar-banner"%> -->
<img src="https://res.cloudinary.com/spark-and-rise-ltd/image/upload/v1566307014/photo-1531210483974-4f8c1f33fd35_xcfetf.jpg" alt="" class="avatar-banner">
​<div class="container">
  <div class="banner-content text-center m-10">

    <h1 ><%= @user.first_name %>, voici le détail de la réservation</h1>
    <p>Commence le <%= @booking.start_date.strftime("%A %d %B") %> et termine le <%= @booking.end_date.strftime("%A %d %B") %></p>
    <p><%= @trip.name %> à <%= @trip.city %></p>
    <p>Description : <%= @trip.description %></p>
    <div class="d-flex justify-content-around">
      <div class="col-6">
        <p><%= link_to "Modifier votre réservation", edit_trip_booking_path(@booking), class: "btn btn-flat-violet w-100"%></p>
      </div>
      <div class="col-6">
        <p><%= link_to "Annuler votre réservation", trip_booking_path(@booking.trip_id, @booking), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-flat-green w-100"%></p>
      </div>
    </div>
  </div>
</div>

