<h1><%= @user.first_name %>, voilà le détail de ta réservation</h1>

<p>Commence le <%= @booking.start_date.strftime("%A %d %B") %> et termine le <%= @booking.end_date.strftime("%A %d %B") %></p>
<p><%= @trip.name %> à <%= @trip.city %></p>
<p>Description : <%= @trip.description %></p>
<p><%= image_tag @trip.image, alt: "Image trip", width: 200 %></p>

<p>link_to "Modifier ma réservation", </p>
<p>link_to "Annuler ma réservation"</p>
