<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1531210483974-4f8c1f33fd35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80');">
</div>
<div class="container">
  <h2 class="m-3">Les derniers Treeps</h2>
  <div class="card-grid">
    <div class="row">
      <div class="card-trip col-4">
        <h2><%= link_to "Ballade à Montmartre", trip_path(Trip.first)  %></h2>
        <%= cl_image_tag Trip.first.photo %>
        <p><%= Trip.first.description.first(150) %>[...]</p>
      </div>
      <div class="card-trip col-4">
        <h2><%= link_to "Découverte du canal", trip_path(Trip.last)  %></h2>
        <%= cl_image_tag Trip.last.photo %>
        <p><%= Trip.last.description.first(150) %>[...]</p>
      </div>
      <div class="card-trip col-4">
        <h2><%= link_to "Découverte du 20ème", trip_path(Trip.last)  %></h2>
        <%= cl_image_tag Trip.first.photo %>
        <p><%= Trip.last.description.first(150) %>[...]</p>
      </div>
    </div>
  </div>
</div>
